<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gift Exchange</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Gift Exchange</a>
      </h1>
      <nav>
        <a href="/signup">Sign Up</a>
      </nav>
      <nav>
        <a href="/login">Login</a>
      </nav>
      <nav>
        <button id="logout">Logout</button>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>