<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

		<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<title>Gift You Up</title>
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">

	</head>

	
	<body>
		<!-- Header -->
		<header class="text-center">
			<!-- Title -->
			<div class="row d-flex">
				<div class="title text-center"><a href="/"><h1>Gift You Up</h1></a></div>
				<div class="d-flex login-logout-container">
					{{#if loggedIn }}
					<div class="logout" id="logout"><a href="/">Logout</a></div>
					{{else}}
					<div class="login"><a href="/login">Login</a></div>
					<div class="signup"><a href="/signup">Sign Up</a></div>
					{{/if}}
				</div>
			</div>
			<!-- Navigation Bar -->
			<nav class="sticky">	
				<a href="/">Home</a>
				<a href="/dashboard">Dashboard</a>
				<a href="/exchanges">Exchanges</a>
				<a href="/wishlists">Wishlists</a>
			</nav>
		</header>


		{{{ body }}}

        
        <!-- Footer -->
		<footer class="d-flex text-center">
			<a href="/contact">Contact Us</a>			
			<a href="/about">About Us</a>			
			<a href="/privacy-policy">Read Our Privacy Policy</a>			
			<p>&copy; 2022 JEMM</p>
		</footer>
			
	</body>
</html>

{{#if loggedIn}}
<script src="/javascripts/logout.js"></script>
{{/if}}
		