<main class="backgroundImg contactUsImg">
    <div class="content-container">
        <div class="content contact-text">
            <h3>Get In Touch With Us!</h3>
            <p>
                Feel free to contact us with any questions or concerns: <br>
                </br>
                <u>Gift You Up</u> </br>
                123 Some Road <br>
                Toronto, Ontario </br>
                M6P 1Z7	</br>
                416-823-0101 </br>
            </p>
            <a href="mailto:info@giftyouup.com"> <button type="button" class="btn btn-light">Email Us</button></a>
        </div>
        <div class="content contact-img">
            <img src="images/spaceshipgift.jpeg" class="contained" alt="gift with black bow" />
        </div>
    </div>
</main>