<main class="backgroundImg dashboardImg">
    <div class="content-container text-center">					
        <div class="content dashboard-card">
            <a class="textColour" href="/exchanges">
                <h3 >Your Exchanges</h3>
                <img class="clickable" src="./images/giftExchange.jpeg" alt="hands exchanging gift">
            </a>	
        </div>
        <div class="content dashboard-card">
            <a class="textColour" href="/wishlists">
                <h3>Your Wishlists</h3>
                <img class="clickable" src="./images/wishlistimg.jpeg" alt="paper and pen making list">
            </a>	
        </div>	
    </div>
</main>