<main class="backgroundImg exchangeImg">
    <div class="content-container">				
        <div class="exchange">
            
            <!-- Exchange Title -->
            <div class="content exchanges-card">
                <h3>Your Exchanges</h3>						
                <button type="button" class="btn btn-light">Create an Exchange</button>
            </div>

            <!-- Exchange Cards -->
            <div class="content exchanges-card d-flex flex-wrap">
                <!-- CARD 1 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-exchange.html" class="card">Exchange Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>

                <!-- CARD 2 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-exchange.html" class="card">Exchange Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>

                <!-- CARD 3 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-exchange.html" class="card">Exchange Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>
            </div>
                    
        </div>		
    </div>
</main>