<main class="backgroundImg homeImg">
    <div class="content-container">
        <div class="content home-text">
            <h3>Welcome to Gift You Up!</h3>
            
            <p>Create your own personal wish lists for any occasion, and share it
                with those you wish! </p>
                
            <p>Making gift giving a much easier, and hassle-free process!</p>
        
            <p>Begin by signing up using the "Sign Up" link in the top right corner, </br>
            or hit the button below to log in!</p>
    
            <p>Then have fun creating your own Gift Exchanges, or Wish Lists! </p>
            
            <a href="/login"><button type="button" class="btn btn-light">Let's Get Started</button></a>
        </div>
        <div class="content home-img">
            <img src="images/blackgift.jpeg" class="contained" alt="gift with black bow" />
        </div>	
    </div>	
</main>	