<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
        <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
    <button type="submit">Login</button>
</form>

    <h2>Don't Have An Account?</h2>
<button class="/signup">Signup</button>

<script src="/javascript/login.js"></script>