<main class="backgroundImg loginImg">
    <div class="content-container" >
        <form class="content login-form">
            <h3>Login</h3>
            <div class="input-group mb-3">
                <label for="username" class="input-group-text">Username:</label>
                <input name="username" id="username" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>						
            <div class="input-group mb-3">
                <label for="password" class="input-group-text password">Password:</label>
                <input name="password" id="password" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>					
        </form>
    </span>
</main>