<form class="login-form">
    <div>
        <label for="first-name-login">First Name:</label>
        <input type="text" id="first-name-login" />
    </div>
        <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
    <button type="submit">Login</button>
</form>

    <h2>Don't Have An Account?</h2>
<button class="/signup">Signup</button>

<script src="/javscript/login.js"></script>