
<main class="backgroundImg aboutUsImg">
    <span class="content-container">
        <div class="content privacy-text">
            <h3>Privacy Policy</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis blanditiis incidunt nemo tenetur, modi quas perspiciatis obcaecati natus dolor officia architecto saepe! Fugiat officiis architecto id dolores eveniet obcaecati inventore!
            </p>
            <a href="mailto:info@giftyouup.com"><button type="button" class="btn btn-light">Contact Us</button></a>		
        </div>
        <div class="content privacy-img">
            <img src="images/wishlistimg.jpeg" class="contained" alt="gift with pink bow" />
        </div>
    </span>
</main>