
<main class="backgroundImg aboutUsImg">
    <span class="content-container">
        <div class="content privacy-text">
            <h3>Privacy Policy</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque rem cupiditate fugiat fugit facere, soluta odit consectetur ab ratione sint rerum animi minima aliquam perspiciatis aliquid fuga saepe pariatur assumenda?
                Labore assumenda sapiente tempora atque magnam quam ipsum officia provident at ipsam iusto eveniet vitae nulla odit, alias hic earum dolore harum aut ea. Illum sit repellendus dolorum voluptas odit?
            </p>
            <p>
                Maiores ad quo maxime autem vitae itaque perferendis odio assumenda, voluptate soluta suscipit. Sit consequatur, repellat mollitia dolore molestias labore velit tempora architecto tenetur repellendus pariatur, soluta aut eum libero.
                Obcaecati iste tempora quos debitis consequatur totam aperiam necessitatibus dolorum expedita, dicta minus optio, numquam cum eum vel repellat, nisi nulla mollitia quisquam vitae? Ut quas pariatur quasi enim rem.
                Tenetur consectetur accusamus odit dolores mollitia. Perferendis enim rerum fuga ab placeat error. Iure dolorum enim reiciendis porro, earum quidem delectus ipsum itaque labore ad fugiat voluptate saepe eius tempora.
            </p>
        </div>
        <div class="content privacy-img">
            <img src="images/wishlistimg.jpeg" class="contained" alt="gift with pink bow" />
        </div>
    </span>
</main>