<main class="backgroundImg signupImg">
    <div class="content-container" >
        <form class="content signup-form">
            <h3>Sign up with a Username</h3>
            <div class="input-group mb-3">
                <label for="username" class="input-group-text">Username:</label>
                <input name="username" id="username" type="text" class="form-control card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>						
            <div class="input-group mb-3">
                <label for="password" class="input-group-text password">Password:</label>
                <input name="password" id="password" type="password" class="form-control card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="submit" id="signup-btn" class="btn btn-login">Sign Up</button>					
        </form>
    </span>
</main>

<script src="/javascripts/signup.js"></script>