<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
        <div>
        <label for="password-signup">Password:</label>
        <input type="text" id="password-signup" />
    </div>
    <button id="signup-button" type="submit">Create Account</button>
</form>

    <h2>Already Have An Account?</h2>
<button class="/login">Login</button>

<script src="/javascript/signup.js"></script>