<main class="backgroundImg wishlistImg">
    <div class="content-container">				
        <div class="wishlist">
            <!-- Member Cards -->
            <div class="content wishlists-card d-flex flex-wrap">
                <h3>{{items.0.wishlist.title}}</h3>

                <!-- Add a Member -->
                <div class="content-card d-flex justify-content-center">
                    <input name="url" placeholder="URL" id="url" type="text" class="card card-input url" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <input name="name" placeholder="Name of item" id="name" type="text" class="card card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <button type="button" class="btn btn-add">Add</button>
                </div>

                <div class="line"></div>

                {{#each items}}
                <div class="content-card d-flex justify-content-center">
                    <a href="{{url}}" target="_blank" class="card">{{name}}</a>
                    <button type="button" class="btn btn-del" item_id="{{id}}">Remove</button>
                </div>
                {{/each}}
                
            </div>		
        </div>		
    </div>
</main>

<script src="/javascripts/exchange-handlers.js"></script>