<main class="backgroundImg wishlistImg">
    <div class="content-container">
        <div class="wishlist">
            
            <!-- Wishlist Title -->
            <div class="content wishlists-card">
                <h3>Your Wishlists</h3>						
                <button type="button" class="btn btn-light">Create a Wishlist</button>
            </div>
            
            <!-- Wishlist Title -->
            <div class="content wishlists-card d-flex flex-wrap">
                <!-- CARD 1 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-wishlist.html" class="card">Wishlist Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>

                <!-- CARD 2 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-wishlist.html" class="card">Wishlist Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>

                <!-- CARD 3 -->
                <div class="content-card d-flex justify-content-center">
                    <a href="view-wishlist.html" class="card">Wishlist Title</a>
                    <button type="button" class="btn btn-del">Delete</button>
                </div>
            </div>

        </div>
    </div>
</main>