<main class="backgroundImg wishlistImg">
    <div class="content-container">
        <div class="wishlist">
          
        
            <!-- Wishlist Title -->
            <div class="content wishlists-card">
                <h3>Create a new Wishlist</h3>
                <input name="title" placeholder="Wishlist Name" id="title" type="text" class="card card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <button type="button" class="btn btn-add">Create</button>
            </div>
            
            <!-- Wishlist Cards -->
            <div class="content wishlists-card d-flex flex-wrap">

                {{#each wishlists}}
                <div class="content-card d-flex justify-content-center">
                    <a href="wishlist/{{id}}" class="card" >{{title}}</a>
                    <button type="button" class="btn btn-del" wishlist_id="{{id}}">Delete</button>
                </div>
                {{/each}}
           
        </div>
    </div>
</main>

<script src="/javascripts/wishlist-handlers.js"></script>
