:root {
	--primary-color: #606060;
	--secondary-color: #d7f2ec;
	--teritary-color: rgb(1, 0, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

h1 {
	text-align: end;
	width: auto;
}

.titleName {
	text-align: center;
}

.login {
	font-size: medium;
	text-align: right;
}

.navbar {
	background-color: var(--secondary-color);
	padding: 1.2rem 7rem;
	text-align: center;
	/* Stick to the top 
	position: sticky;
	top: 0;*/
}

.navbar :hover {
	color: var(--teritary-color);
	opacity: 1;
	cursor: pointer;
}

a {
	border-color: transparent;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.nav {
	text-align: center;
	color: #606060;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.4rem;
	padding: 0.1rem 2rem;
	opacity: 0.8;
}

.hero-cta {
	width: 35%;
	text-align: center;
	margin: 3.5%;
	color: var(--teritary-color);
	font-size: 18px;
	line-height: 1.2;
	margin-right: 10px;
}

.blackGift img {
	height: 400px;
	width: 60%;
	display: flex;
	float: right;
	margin-right: 200px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.paragraph {
	margin: 1rem;
	padding: 2rem 2rem;
}
.blackGift {
	display: inline-block;
	padding: 1rem 1rem;
	vertical-align: middle;
}

footer {
	background-color: var(--secondary-color);
	padding: 1.2rem 7rem;
	text-align: center;
	color: #606060;
	font-weight: 500;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
	padding: 0.1rem 2rem;
}

footer :hover {
	color: var(--teritary-color);
	opacity: 1;
	cursor: pointer;
}
