:root {
	--primary-color: #606060;
	--secondary-color: #d7f2ec;
	--teritary-color: rgb(1, 0, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
}

/* GENERAL STYLING ////////////////////////////// */

a {
	border-color: transparent;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.btn {
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.614);
}

.line {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: #99bdb5 2px solid;
}

/* HEADER /////////////////////////////////////// */
/* Title */
.title {
	padding: 20px;
}

/* Login and Logout */
.login-logout-container {
	position: absolute;
	justify-content: right;
	font-size: medium;
	margin-top: 25px;
}

.login {	
	text-align: right;
	padding-right: 5px;
	border-right: #606060 1px solid;	
}

.logout, .signup {
	font-size: medium;
	text-align: left;
	margin-left: 5px;
}

/* NAVIGATION BAR AND FOOTER //////////////////// */
nav, footer {
	font-size: 1.5rem;
	background-color: var(--secondary-color);
	justify-content: center;
	/* padding: 1.2rem 7rem; */
}

.sticky {
	z-index: 9999;
	position: sticky;
	width: 100%;
	top: 0;
}

nav a, footer a, footer p {
	opacity: 0.8;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	transition: 0.25s ease-in-out all;
}

nav a:hover, footer a:hover {
	opacity: 1;
	text-shadow: 1px 0 10px #00ffc8;
	color: var(--teritary-color);
}

/* BACKGROUND IMAGES /////////////////////////// */
.backgroundImg {
	background-size: cover;
	background-position: center;
	background-position: 80%;
	min-height: 75vh;
}

.homeImg {
	background-image: url("../images/blurrLights.jpeg");
}

.dashboardImg {
	background-image: url("../images/pinkgift.jpeg");;
}

.exchangeImg {
	background-image: url("../images/giftExchange.jpeg");
}

.wishlistImg {
	background-image: url("../images/wishlistimg.jpeg");
}

.aboutUsImg {
	background-image: url("../images/glitterImg.jpeg");
}

.contactUsImg {
	background-image: url("../images/lightconfetti.jpeg");
}

.loginImg {
	background-image: url("../images/browngift.jpeg");
}

.signupImg{
	background-image: url("../images/pinkbowlace.jpeg");
}

/* CONTENT ////////////////////////////////////// */
.content-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* flex-grow: 1; */
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.content {
	margin: 1rem;
	background-color: rgb(215, 242, 236, 0.85);
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.353);
	color: #010101;
}

.content-solid {
	background-color: var(--secondary-color);
}

/* HOME, CONTACT, ABOUT, PRIVACY //////////////// */

.home-text, 
.privacy-text, 
.about-text, 
.contact-text {
	text-align: center;
	padding: 2rem 2rem;
	width: 800px;
}

.home-img, 
.privacy-img, 
.about-img, 
.contact-img  {
	justify-content: center;
	width: 350px;
	object-fit: cover;
	object-position: center;
	position: relative;
	overflow: hidden;
}

.home-img img, 
.privacy-img img, 
.about-img img, 
.contact-img img  {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

img.contained {
	width: 100%;
}

/* SIGN UP PAGE ///////////////////////////////// */
.signupBox {
	margin: 1rem;
	padding: 2rem 2rem;
	background-color: var(--secondary-color);
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.353);
	opacity: 0.8;
	color: #010101;
	max-width: 600px;
	max-height: 400px;
}

#signupBackground {
	background-image: url("../images/pinkbowlace.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	background-attachment: fixed;
	background-position: 80%;
}

/*DASHBOARD PAGE //////////////////////////////// */
.dashboard-card {
	width: 600px;
	height: 400px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-card img {
	border-radius: 15px;
	max-width: 500px;
	max-height: 300px;
}

.clickable {
	filter: brightness(100%);
}

.clickable:hover {
	filter: brightness(75%);
	cursor: pointer;
}

.textColour:hover {
	color: var(--primary-color);
}

/* LOGIN, SIGN UP PAGE ////////////////////////// */

.login-form, .signup-form {
	text-align: center;
	padding: 2rem 2rem;
	width: 500px;
}

.login-form h3, .signup-form h3 {
	padding-bottom: 1rem;
}

.password {
	padding-right: 15px;
}

/* EXCHANGE AND WISHLIST PAGE /////////////////// */
.exchange, .wishlist {
	width: 800px;
}

.exchange h3, .wishlist h3 {
	padding-bottom: 2rem;
	width: 100%;
}

.exchanges-card, .wishlists-card {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem 2rem;
}

/* CARDS AND CARD INTERACTIONS ////////////////// */
.card {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	text-align: left;
	height: 50px;
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.2);
	padding-left: 25px;
	margin-right: 5px;
	margin-bottom: 10px;
	transition: 0.25s ease-in-out all;
}


.card:hover {
	background-color: rgb(185, 252, 240);
}

.card-input {
	background-color: rgb(240, 240, 240);
}

.card-input:hover {
	background-color: #fff;
}

.card-input:focus {
	background-color:#fff;
	outline: none;
}

.content-card {
	width: 100%;
	flex-wrap: wrap;
}

.content-card a p span {
	font-size: 10px;
}

.url {
	text-align: left;
	height: 30px;
	width: 100%;
	font-size: small;
}

.btn-del {
	color: #fff;
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.2);
	height: 50px;
	background-color: rgb(255, 125, 125);
	border: rgb(255, 125, 125);
	transition: 0.25s ease-in-out all;
	width: 85px;
}

.btn-del:hover {
	background-color: rgb(250, 50, 55);
	color: #fff;
}

.btn-add {
	color: #fff;
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.2);
	height: 50px;
	background-color: rgb(86, 179, 114);
	border: rgb(86, 179, 114);
	transition: 0.25s ease-in-out all;
	width: 85px;
}

.btn-add:hover {
	background-color: rgb(30, 150, 55);
	color: #fff;
}

.start {
	height: 50px;
	width: 50%;
	margin-bottom: 2rem;
}